.text-box {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    width: 50%;
    border: 2px solid #FFF;
    .text-content {
        color: #FFF;
        font-family: "PixelMplus-12R", sans-serif;
    }
}