* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'PixelMplus-10R';
  src: url('../../public/fonts/PixelMplus10-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'PixelMplus-10B';
  src: url('../../public/fonts/PixelMplus10-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'PixelMplus-12R';
  src: url('../../public/fonts/PixelMplus12-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'PixelMplus-12B';
  src: url('../../public/fonts/PixelMplus12-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'BestTen-CRT';
  src: url('../../public/fonts/BestTen-CRT.otf') format('opentype');
}
@font-face {
  font-family: 'BestTen-DOT';
  src: url('../../public/fonts/BestTen-DOT.otf') format('opentype');
}